# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (remove the comment below to include it)
# vendor/
ios/stream.xcworkspace/xcuserdata/xpwu.xcuserdatad/UserInterfaceState.xcuserstate
ios/stream.xcworkspace/xcuserdata/xpwu.xcuserdatad/UserInterfaceState.xcuserstate
ios/stream.xcworkspace/xcuserdata/xpwu.xcuserdatad/UserInterfaceState.xcuserstate
ios/stream.xcworkspace/contents.xcworkspacedata
ios/stream.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ios/stream.xcworkspace/xcuserdata/xpwu.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
web/.idea/jsLibraryMappings.xml
web/dist
web/test/node_modules
ios/stream/streamTests/config.swift
android/.idea
